
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-primary-main: #ff80ab !default;
$color-primary-light: #ffb2dd !default;
$color-primary-dark: #c94f7c !default;
$color-secondary-main: #b2ff59 !default;
$color-secondary-light: #e7ff8c !default;
$color-secondary-dark: #7ecb20 !default;
$color-text-primary: #000000 !default;
$color-text-secondary: #000000 !default;
$color-block-background: #f4f5f6 !default;
